<a href="https://colab.research.google.com/github/shweta567/Python/blob/main/Case_Study%E2%80%932.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What is the output of the following code?
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))
Hint: Set consists unique element. bold text bold text
'''

In [ ]:
print('Answer for Question 1 Begins ')

print('Output is 4 as Set removes duplicates & keeps only unique elements ')
print('\n')

Answer for Question 1 Begins
Output is 4 as Set removes duplicates & keeps only unique elements

**2. What will be the output?d ={"john":40, "peter":45}print(list(d.keys()))**

In [ ]:
d ={"john":40, "peter":45}
print(list(d.keys()))
#print(d.keys())

['john', 'peter']

3. A website requires a user to input a username and password to register. Write a program to check the validity of the password given by the user. Following are the criteria for checking password:1. At least 1 letter between [a-z]2. At least 1 number between [0-9]1. At least 1 letter between [A-Z]3. At least 1 character from [$#@]4. Minimum length of transaction password: 65. Maximum length of transaction password: 12

In [ ]:
import re


def is_valid_password(password):
    # Check length
    if len(password) < 6 or len(password) > 12:
        return False

    # Check if there is at least 1 lowercase letter
    if not re.search("[a-z]", password):
        return False

    # Check if there is at least 1 uppercase letter
    if not re.search("[A-Z]", password):
        return False

    # Check if there is at least 1 digit
    if not re.search("[0-9]", password):
        return False

    # Check if there is at least 1 special character from [$#@]
    if not re.search("[$#@]", password):
        return False

    return True

# Get password from user
while True:
    password = input("Enter your password: ")

# Check password validity
    if is_valid_password(password):
        print("Password is valid.")
        break
    else:
        print("Password is not valid. Please follow the password criteria.")
'mns'

Enter your password: jkhghdHGHJ67@
Password is not valid. Please follow the password criteria.
Enter your password: gfh@GHB123
Password is valid.

'mns'

**4. Write a for loop that prints all elements of a list and their position in the list.a = [4,7,3,2,5,9] Hint: Use Loop to iterate through list elements.
**

In [ ]:
a = [4,7,3,2,5,9]
obj = enumerate(a)

print (list(enumerate(a)))

[(0, 4), (1, 7), (2, 3), (3, 2), (4, 5), (5, 9)]

**5. Please  write  a  program thataccepts  a  string  from the console  and  print  the characters that have even indexes.Example: If the following string is given as input to the program:H1e2l3l4o5w6o7r8l9dThen, the output of the program should be:Helloworld**

In [ ]:
string='H1e2l3l4o5w6o7r8l9d'
# Extract characters at even indexes using string slicing
output_string =string[::2]

# Print the result
print("Output:", output_string)

Output: Helloworld

**6. Please write a program thataccepts a string from the console and print it in reverse order.Example: If the following string is given as input to the program: rise to vote sirThen, the output of the program should be:ris etov ot esirt**

In [ ]:
# Accept a string from the console
input_string = input("Enter a string: ")

# Reverse the input string using string slicing
reversed_string = input_string[::-1]

# Print the reversed string
print("Reversed String:", reversed_string)

Enter a string: rise to vote sir
Reversed String: ris etov ot esir

7. Please write a program thatcountsand printsthe numbers of each character in a string input by the console.Example: If the following string is given as input to the program:abcdefgabcThen, the output of the program should be:a,2c,2b,2e,1d,1g,1f,1

In [ ]:
# Accept a string from the console
input_string = input("Enter a string: ")

# Create an empty dictionary to store character counts
char_count = {}

# Count the occurrences of each character in the input string
for char in input_string:
    char_count[char] = char_count.get(char, 0) + 1

# Print the character counts
print("Character Counts:")
for char, count in char_count.items():
    print(f"{char},{count}")

Enter a string: abcdefgabc
Character Counts:
a,2
b,2
c,2
d,1
e,1
f,1
g,1

**8. With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists.**

In [11]:
# Given lists
list1 = [1, 3, 6, 78, 35, 55]
list2 = [12, 24, 35, 24, 88, 120, 155]

# Using set intersection to find common elements
intersection_list = list(set(list1) & set(list2))

# Print the intersection list
print("Intersection List:", intersection_list)

Intersection List: [35]

**9. By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].**

In [14]:
# Given list
original_list = [12, 24, 35, 24, 88, 120, 155]

# List comprehension to remove the value 24
new_list = [x for x in original_list if x != 24]

# Print the new list
print("List after removing 24:", new_list)

List after removing 24: [12, 35, 88, 120, 155]

**10. By using list comprehension, please write a program to print the list after removing the 0th,4th,and 5th numbers in [12,24,35,70,88,120,155**

In [ ]:
# Given list
original_list = [12, 24, 35, 70, 88, 120, 155]

# List comprehension to exclude specific indices
new_list = [original_list[i] for i in range(len(original_list)) if i not in [0, 4, 5]]

# Print the new list
print("List after removing 0th, 4th, and 5th numbers:", new_list)

In [16]:
# Given list
a=[12, 24, 35, 70, 88, 120, 155]

# List comprehension to exclude specific indices
b=[a[i] for i in range(len(a)) if i not in [0,4,5] ]

# Print the new list
print("here is new lsit",b)

here is new lsit [24, 35, 70, 155]

**11) By using list comprehension, please write a program to print the list after removing deletednumbers thatare divisible by 5 and 7 in [12,24,35,70,88,120,155].**

In [46]:
# Given list
original_list = [12, 24, 35, 70, 88, 120, 155]

# List comprehension to exclude numbers divisible by 5 and 7
new_list = [num for num in original_list if num % 5 != 0 or num % 7 != 0]

# Print the new list
print("List after removing numbers divisible by 5 and 7:", new_list)

List after removing numbers divisible by 5 and 7: [12, 24, 88, 120, 155]

**12.Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a  given  n  input  by console (n>0).Example:If the following n is given as input to the program:5Then, the output of the program should be:3.55**

In [55]:
# n \ n+1
sum=0
n=int(input("Enter your number:  "))
for i in range(1, n + 1):
        sum += i / (i + 1)

    # Print the result rounded to 2 decimal places
print("Sum of the series:", round(sum, 2))

Enter your number:  5
Sum of the series: 3.55