## Section 1: Hello World and Variables

**Code 1.1:** *Hello World*

**Important Point:**

print() is a built-in Python function used for output.

In [2]:
# Syntax: print("Hello, World!")
# Explanation: This code prints a simple greeting message.
print("Hello, World!")

Hello, World!

**Code 1.2**: *Variables and Data Types*

**Important Point**:

*Variables hold different data types (string, int, float) without explicit declaration.*

In [3]:
# Syntax: variable_name = value
# Explanation: Demonstrates variables and data types in Python.
name = "John"
age = 25
height = 1.75
print(name, age, height)

John 25 1.75

**Code 1.3: Arithmetic Operations**


**Important Point:**



Python supports common arithmetic operators: +, -, *, /.

In [4]:
# Syntax: result = a + b
# Explanation: Basic arithmetic operations in Python.
a = 9
b = 3
sum_result = a + b
divide=a/b
print("Sum:", sum_result)
print("divide:",divide)

Sum: 12
divide: 3.0

**Code 1.4:** *String Manipulation*

**Important Point**:


Strings can be concatenated using the + operator.

In [5]:
# Syntax: new_string = string1 + string2
# Explanation: Concatenating strings to create a message.
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

**Code 1.5:** *Lists*


**Important Point:**

*Lists are ordered and mutable in Python.*

In [6]:
# Syntax: list_name = [element1, element2, ...]
# Explanation: Creating and printing a list of numbers.
numbers = [1, 2, 3, 4, 5]
print(numbers)
print(len(numbers)) #checking length of list
print(numbers[2]) #

[1, 2, 3, 4, 5]
5
3

# Section 2: Control Flow

---

**Code 2.1:** *Accessing List Elements*


**Important Point:**

*Indexing in Python starts from 0.*

In [7]:
# Syntax: element = list_name[index]
# Explanation: Accessing and printing the first element of the list.
first_element = numbers[0]
print("First Element:", first_element)

First Element: 1

**Code 2.2:** *List Operations*

**Important Point:**

append() adds an element to the end of the list.

In [8]:
# Syntax: list_name.append(element)
# Explanation: Appending a new element to the list.
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

**Code 2.3:** *Conditional Statements*

**Important Point:**

Python uses indentation for code blocks within control structures.

In [9]:
# Syntax:
# if condition:
#     code_block
# else:
#     code_block
# Explanation: Using if-else to check age.
age = 18
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

**Code 2.4:** *Loops*

**Important Point:**

range(n) generates numbers from 0 to n-1.

In [10]:
# Syntax:
# for variable in iterable:
#     code_block
# Explanation: Using a for loop to print numbers 0 to 4.
for i in range(5):
    print(i)

0
1
2
3
4

**Code 2.5:** *Functions*

Important Point:

*Functions are defined using the def keyword and can return values.*

In [11]:
# Syntax:
# def function_name(parameters):
#     code_block
#     return value
# Explanation: Defining and calling a simple function.
def greet(name):
    return "Hello, " + name + "!"

message = greet("Bob")
print(message)

Hello, Bob!

# Section 3: Advanced Data Structures

**Code 3.1**: *Dictionaries*

**Important Point:**

*Dictionaries store key-value pairs.*

In [12]:
# Syntax: dict_name = {"key1": value1, "key2": value2, ...}
# Explanation: Creating and printing a dictionary.
student = {"name": "Alice", "age": 20, "grade": "A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

**Code 3.2:** *Tuples*

**Important Point:**

Tuples are immutable, and elements cannot be changed once defined.

In [13]:
# Syntax: tuple_name = (element1, element2, ...)
# Explanation: Creating and printing a tuple.
coordinates = (3, 4)
print(coordinates)

(3, 4)

**Code 3.3**: *Sets*

**Important Point:**

*Sets store unique elements and are unordered.*

In [14]:
# Syntax: set_name = {element1, element2, ...}
# Explanation: Creating and printing a set.
unique_numbers = {1, 2, 3, 4, 5}
print(unique_numbers)

{1, 2, 3, 4, 5}

**Code 3.4:** *String Formatting*

**Important Point:**

*String formatting improves readability and flexibilit*y

In [15]:
# Syntax: formatted_string = "Text {} more text {}".format(value1, value2)
# Explanation: Formatting strings using placeholders.
formatted_string = "Name: {}, Age: {}".format(name, age)
print(formatted_string)

Name: Alice, Age: 18

**Code 3.5:** *Slicing and Iterating*

**Important notes**
Important Point:

*Slicing allows you to create a new list by specifying start, end, and step indices.*

In [16]:
# Syntax: sublist = list[start_index:end_index:step]
# Explanation: Slicing a list to get a sublist.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sublist = numbers[2:7:2]
print("Sublist:", sublist)

Sublist: [3, 5, 7]

**Code 3.6:** *Slicing Strings*

**Important Point:**

String slicing works similarly to list slicing.

In [17]:
# Syntax: substring = string[start_index:end_index]
# Explanation: Slicing a string to get a substring.
sentence = "Python is amazing!"
substring = sentence[7:10]
print("Substring:", substring)

Substring: is

** Code 3.7:**  *Slicing Tuples*

**Important Point:**

Tuples support slicing just like lists.

In [18]:
# Syntax: subtuple = tuple[start_index:end_index]
# Explanation: Slicing a tuple to get a subtuple.
coordinates = (3, 4, 5, 6)
subtuple = coordinates[1:3]
print("Subtuple:", subtuple)

Subtuple: (4, 5)

**Code 3.8:** *Iterating over List*s

**Important Point:**

The for loop is used for iterating over elements in a list.

In [19]:
# Syntax: for element in iterable:
#     code_block
# Explanation: Iterating over a list and printing each element.
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

**Code 3.9:** *Enumerating Lists*

**Important Point:**

enumerate() provides both the index and the value during iteration.

In [20]:
# Syntax: for index, value in enumerate(iterable):
#     code_block
# Explanation: Enumerating over a list to get both index and value.
colors = ["red", "green", "blue"]
for index, color in enumerate(colors):
    print(f"Index: {index}, Color: {color}")

Index: 0, Color: red
Index: 1, Color: green
Index: 2, Color: blue

**Code 3.10:** Zip for Parallel Iteration

**Important Point:**

zip() combines elements from multiple iterables for parallel iteration.

In [21]:
# Syntax: for element1, element2 in zip(iterable1, iterable2):
#     code_block
# Explanation: Using zip for parallel iteration over two lists.
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 25
Name: Bob, Age: 30
Name: Charlie, Age: 35

**Code 3.11:** *Iterating over Dictionary Keys*

**Important Point:**

By default, iterating over a dictionary yields its keys.

In [22]:
# Syntax: for key in dictionary:
#     code_block
# Explanation: Iterating over dictionary keys and printing each key.
student = {"name": "Alice", "age": 25, "grade": "A"}
for key in student:
    print("Key:", key)

Key: name
Key: age
Key: grade

**Code 3.12:** Iterating over Dictionary Items

**Important Point:**

The items() method allows iteration over both keys and values in a dictionary.

In [23]:
# Syntax: for key, value in dictionary.items():
#     code_block
# Explanation: Iterating over dictionary items and printing each key-value pair.
for key, value in student.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25
Key: grade, Value: A

**Code 3.13:** *File Handling*

**Important Point:**

*The "with" statement ensures proper file closure.*

In [24]:
# Syntax:
# with open("file.txt", "w") as file:
#     file.write("Hello, File!")
# Explanation: Writing to a file using the "with" statement.
with open("file.txt", "w") as file:
    file.write("Hello, File!")

**Code 3.14:** Reading from a File

**Important Point:**

*The mode "r" is used for reading from a file.*

In [25]:
# Syntax:
# with open("file.txt", "r") as file:
#     content = file.read()
# Explanation: Reading content from a file.
with open("file.txt", "r") as file:
    content = file.read()
print("File Content:", content)

File Content: Hello, File!

**Code 3.15**: *Appending to a File*

**Important Point:**

The mode "a" is used for appending to a file.

In [26]:
# Syntax:
# with open("file.txt", "a") as file:
#     file.write("\nAppending more content.")
# Explanation: Appending additional content to a file.
with open("file.txt", "a") as file:
    file.write("\nAppending more content.")

**Code 3.16:** *Handling File Not Found*

**Important Point:**

Exception handling helps manage potential file-related errors.

In [27]:
# Syntax:
# try:
#     with open("nonexistent_file.txt", "r") as file:
#         content = file.read()
# except FileNotFoundError:
#     print("File not found.")
# Explanation: Handling File Not Found exception.
try:
    with open("nonexistent_file.txt", "r") as file:
        content = file.read()
except FileNotFoundError:
    print("File not found.")

File not found.

**Code 3.17**: *Writing Multiple Lines*

***Important Point:***

writelines() writes a list of lines to the file.

In [28]:
# Syntax:
# lines = ["Line 1\n", "Line 2\n", "Line 3\n"]
# with open("multiline_file.txt", "w") as file:
#     file.writelines(lines)
# Explanation: Writing multiple lines to a file.
lines = ["Line 1\n", "Line 2\n", "Line 3\n"]
with open("multiline_file.txt", "w") as file:
    file.writelines(lines)

**Code 3.18**: *Reading Lines into a List*

**Important Point:**

readlines() reads all lines from the file into a list.

In [29]:
# Syntax:
# with open("multiline_file.txt", "r") as file:
#     lines = file.readlines()
# Explanation: Reading lines from a file into a list.
with open("multiline_file.txt", "r") as file:
    lines = file.readlines()
print("Lines from File:", lines)

Lines from File: ['Line 1\n', 'Line 2\n', 'Line 3\n']

# Section 4: Advanced Control Flow

**Code 4.1**: *Exception Handling*

**Important Point:**

Exception handling prevents program crashes on errors.

In [30]:
# Syntax:
# try:
#     code_block
# except ExceptionType as e:
#     code_block
# Explanation: Handling division by zero exception.
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")

Cannot divide by zero.

In [31]:
# Syntax:
# class CustomError(Exception):
#     pass
#
# try:
#     raise CustomError("This is a custom exception.")
# except CustomError as e:
#     print("Caught a custom exception:", e)
# Explanation: Defining and handling a custom exception.
class CustomError(Exception):
    pass

try:
    raise CustomError("This is a custom exception.")
except CustomError as e:
    print("Caught a custom exception:", e)

Caught a custom exception: This is a custom exception.

**Code 4.7:** List Filtering with Lambda

**Important Point:**

filter() applies a function to each element and returns elements that evaluate to True.

In [32]:
# Syntax: filtered_list = list(filter(lambda x: condition, iterable))
# Explanation: Filtering even numbers using filter and lambda.
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers:", even_numbers)

Even Numbers: [2, 4, 6, 8]

**Code 4.8:** Map Function with Lambda

**mportant Point**:

map() applies a function to each element and returns a list of the results.

In [33]:
# Syntax: mapped_list = list(map(lambda x: expression, iterable))
# Explanation: Mapping squared values using map and lambda.
squared_numbers = list(map(lambda x: x**2, numbers))
print("Squared Numbers:", squared_numbers)

Squared Numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81]

**Code 4.9:** Reduce Function

**Important Point:**

The reduce() function successively applies a function to the items of an iterable.

In [34]:
# Syntax: from functools import reduce
# result = reduce(lambda x, y: expression, iterable)
# Explanation: Using reduce to find the product of a list.
from functools import reduce
product = reduce(lambda x, y: x * y, numbers)
print("Product of Numbers:", product)

Product of Numbers: 362880

**Code 4.10:** Decorators

Important Point:

Decorators are a powerful feature for modifying or extending the behavior of functions.

In [35]:
# Syntax:
# def decorator(func):
#     def wrapper(*args, **kwargs):
#         # Additional functionality
#         result = func(*args, **kwargs)
#         # Additional functionality
#         return result
#     return wrapper
#
# decorator
# def example_function():
#     print("Executing example function.")
# Explanation: Creating and using a simple decorator.
def decorator(func):
    def wrapper(*args, **kwargs):
        print("Executing decorator before function.")
        result = func(*args, **kwargs)
        print("Executing decorator after function.")
        return result
    return wrapper

@decorator
def example_function():
    print("Executing example function.")

example_function()

Executing decorator before function.
Executing example function.
Executing decorator after function.

**Code 4.11:** List Comprehension

**Important Point:**

List comprehensions offer a concise way to create lists.

In [36]:
# Syntax: new_list = [expression for item in iterable if condition]
# Explanation: Creating a list of squared numbers using comprehension.
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Code 4.12**: Enumerate

**Important Point**:

Enumerate provides both index and value during iteration.

In [37]:
# Syntax: for index, value in enumerate(iterable):
#     code_block
# Explanation: Using enumerate to print index and value of list elements.
numbers=[1,2,3,4,5]
for index, value in enumerate(numbers):
    print(index, value)

0 1
1 2
2 3
3 4
4 5

# Section 5: Different ways to take input from the user

**Code 5.1:**  Taking Integer Input

**Important Point:**

input() function takes user input as a string. Use int() to convert it to an integer.

In [38]:
 # Explanation: Taking an integer input from the user.
user_input = int(input("Enter an integer: "))
print("You entered:", user_input)

Enter an integer: 567
You entered: 567

**Code 5.2:** * Taking Floating-Point Input*

**Important Point:**

Similar to integers, use float() to convert the input to a floating-point number.

**Code 5.3:** Taking String Input

**Important Point:**

input() directly takes a string from the user.

In [39]:
# Explanation: Taking a string input from the user.
user_input = input("Enter a string: ")
print("You entered:", user_input)

Enter a string: Shweta
You entered: Shweta

Code 5.4: Taking Multiple Inputs in One Line

**Important Point:**

split() is used to separate multiple inputs entered in one line.

In [40]:
# Explanation: Taking multiple space-separated inputs in one line.
name, age = input("Enter your name and age (separated by a space): ").split()
print("Name:", name)
print("Age:", age)

Enter your name and age (separated by a space): Shweta 27
Name: Shweta
Age: 27

**Code 5.5: **Taking List of Numbers as Input

**Important Point:**

map() and split() are used to convert space-separated inputs into a list of numbers.

In [41]:
# Explanation: Taking a list of numbers as input.
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
print("List of Numbers:", numbers)

Enter a list of numbers separated by spaces: 2 3 5 9
List of Numbers: [2, 3, 5, 9]

**Code 5.6**: Taking Password Input without Displaying Characters

**Important Point:**

getpass.getpass() is used to take password input without displaying characters on the screen.

In [42]:
# Explanation: Taking a password input without displaying characters.
import getpass

password = getpass.getpass("Enter your password: ")
print("Password entered.")

Enter your password: ··········
Password entered.

**Code 5.7:** Taking Yes/No Input

**Important Point:**

Using lower() to handle both uppercase and lowercase input.

In [43]:
# Explanation: Taking a yes/no input and converting to boolean.
user_input = input("Do you want to continue? (yes/no): ").lower()
continue_program = user_input == "yes"
print("Continue Program:", continue_program)

Do you want to continue? (yes/no): yes
Continue Program: True

**Code 5.8:** Taking Input with Default Value

**Important Point**:

Providing a clear prompt improves user interaction.

In [44]:
# Explanation: Taking input with a default value.
user_input = input("Enter something (or press Enter for default): ") or "Default Value"
print("You entered:", user_input)

Enter something (or press Enter for default): 34 shweta
You entered: 34 shweta

**Code 5.9:** Taking Input using eval()

**Important Point:**

Be cautious when using eval() as it can execute arbitrary code.

In [45]:
# Explanation: Taking input and using eval() to evaluate expressions.
expression = input("Enter a mathematical expression: ")
result = eval(expression)
print("Result:", result)

Enter a mathematical expression: 7.2
Result: 7.2

#Section 6: Advanced Topics and Best Practices

**Code 6.1:** *List Comprehension with Condition*

**Important Point:**

List comprehension with a condition allows concise filtering.

In [46]:
# Syntax: new_list = [expression for item in iterable if condition]
# Explanation: Using list comprehension to create a list of even numbers.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_numbers = [x for x in numbers if x % 2 == 0]
print("Even Numbers:", even_numbers)

Even Numbers: [2, 4, 6, 8]

**Code 6.2:** Handling Dates with datetime Module

**Important Point**:

The datetime module is powerful for handling dates and times.

In [47]:
# Syntax: from datetime import datetime
# Explanation: Working with dates using the datetime module.
from datetime import datetime

current_date = datetime.now()
print("Current Date and Time:", current_date)

Current Date and Time: 2023-12-07 16:09:46.504536

**Code 6.3:** Using random Module for Random Values

**Important Point:**

The random module provides functions for working with random numbers.

In [48]:
# Syntax: import random
# Explanation: Generating random numbers and shuffling a list.
import random

random_number = random.randint(1, 10)
print("Random Number:", random_number)

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print("Shuffled List:", my_list)

Random Number: 5
Shuffled List: [4, 2, 3, 1, 5]

**Code 6.4:** Exception Chaining

**Important Point:**

Use exception chaining to provide more context to the error.

In [85]:
def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError as e:
        raise ValueError("Invalid operation: Division by zero") from e
    return result

try:
    result = divide_numbers(10, 0)
    print("Result:", result)
except ValueError as ve:
    print(f"Error: {ve}")

Error: Invalid operation: Division by zero

**Code 6.5:** Using collections Module for Counter

**Important Point:**

The Counter class simplifies counting occurrences of elements in a collection.

In [50]:
# Syntax: from collections import Counter
# Explanation: Counting occurrences of elements in a list.
from collections import Counter

my_list = [1, 2, 3, 1, 2, 1, 3, 4, 5]
element_counts = Counter(my_list)
print("Element Counts:", element_counts)

Element Counts: Counter({1: 3, 2: 2, 3: 2, 4: 1, 5: 1})

**Code 6.6:** Using map() with Multiple Iterables

**Important Point:**

map() can work with multiple iterables simultaneously.

In [51]:
# Explanation: Using map with multiple iterables.
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sums = list(map(lambda x, y: x + y, numbers1, numbers2))
print("Sums:", sums)

Sums: [5, 7, 9]

In [54]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sums = list(map(lambda numbers1, numbers2: numbers1 + numbers2, numbers1, numbers2))
print("Sums:", sums)

Sums: [5, 7, 9]

**Code 6.7:** Python's any() and all()

**Important Point:**

any() returns True if at least one element is true, while all() returns True if all elements are true.

In [55]:
# Explanation: Using any() and all() for boolean checks.
bool_list = [True, False, True, True]
any_result = any(bool_list)
all_result = all(bool_list)

print("Any True:", any_result)
print("All True:", all_result)

Any True: True
All True: False

# if statements, else statements, and loops:

**If Statements:**

In [56]:
number = 5
if number > 0:
    print("Number is positive.")

Number is positive.

**If-else statement:**

In [57]:
number = -2
if number > 0:
    print("Number is positive.")
else:
    print("Number is non-positive.")

Number is non-positive.

**If-elif-else ladder:**

In [58]:
grade = 75
if grade >= 90:
    print("A")
elif 80 <= grade < 90:
    print("B")
elif 70 <= grade < 80:
    print("C")
else:
    print("Below C")

C

# Loops:

**While loop:**

In [59]:
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

**Infinite loop with break statement:**

In [60]:
while True:
    user_input = input("Enter 'exit' to break: ")
    if user_input.lower() == 'exit':
        break

Enter 'exit' to break: kj
Enter 'exit' to break: exit

**For loop over a range:**

In [61]:
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

**Nested loops:**

In [62]:
for i in range(3):
    for j in range(2):
        print(f"({i}, {j})")

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)

**For loop over a list:**

In [63]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: orange

**Loop with continue statement:**

In [64]:
for i in range(5):
    if i == 2:
        continue
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 3
Iteration: 4

#Combining Control Structures:

**Loop with if statement:**

In [65]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print("Even:", num)

Even: 2
Even: 4

**While loop with else statement:**

In [66]:
count = 0
while count < 3:
    print("Inside while loop.")
    count += 1
else:
    print("Outside while loop.")

Inside while loop.
Inside while loop.
Inside while loop.
Outside while loop.

**If statement inside a for loop:**

In [67]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print("Even:", num)
    else:
        print("Odd:", num)

Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5

**Using a break statement in a for loop:**

In [69]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print("Number:", num)

Number: 1
Number: 2

**Loop with an else statement and a condition:**

In [70]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print("Number:", num)
else:
    print("Loop completed.")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Loop completed.

**Nested if statements inside a loop:**

In [71]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        if num == 4:
            print("Even and equal to 4")
        else:
            print("Even:", num)
    else:
        print("Odd:", num)

Odd: 1
Even: 2
Odd: 3
Even and equal to 4
Odd: 5

**Using a continue statement in a while loop:**

In [72]:
count = 0
while count < 5:
    count += 1
    if count == 3:
        continue
    print("Count:", count)

Count: 1
Count: 2
Count: 4
Count: 5

**Looping through a dictionary:**

In [73]:
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 78}
for name, grade in student_grades.items():
    print(f"{name}'s grade: {grade}")

Alice's grade: 90
Bob's grade: 85
Charlie's grade: 78

**Using enumerate in a for loop:**

In [74]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: orange

**Looping through a string:**

In [75]:
word = "Python"
for char in word:
    print("Character:", char)

Character: P
Character: y
Character: t
Character: h
Character: o
Character: n

**Loop with a conditional break:**

In [76]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 4:
        print("Breaking at 4")
        break
    print("Number:", num)

Number: 1
Number: 2
Number: 3
Breaking at 4